img{
    width: 300px;
    border-radius: 10px;
 }

 h1{

    color: blueviolet;
 }

 body{
    background-color: #b4d4b4;
    font-family: 'Dancing Script', sans-serif;
    
 }

 h2{
    color: blueviolet;
 }